<did class="col-md-9 col-sm-12  message-wrap">
  <% include BoxChatPublic/BoxMgs %>
  <% include BoxChatPublic/BoxSendMgs %>
</did>
<div class="col-md-3 col-sm-12 conversation-wrap">
  <% include BoxChatPublic/BoxUserOnlinePublicChat %>
</div>
<!-- Box Tools Chat --><% include BoxChatPublic/BoxTools %><!-- End Box Tools Chat -->
