 <div class="panel panelFollow" id="followers">
    <div class="panel-heading">
      <h3 class="panel-title">
        <i class="icon md-check" aria-hidden="true"></i> Followers
      </h3>
    </div>
    <div class="panel-body panelFollowBody">

      <ul class="list-group list-group-dividered list-group-full">
        <li class="list-group-item">
          <div class="media">
            <div class="media-left">
              <a class="avatar avatar-online" href="javascript:void(0)">
                <img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                <i></i>
              </a>
            </div>
            <div class="media-body">
              <div class="pull-right">
                <button type="button" class="btn btn-info btn-sm waves-effect waves-light">Follow</button>
              </div>
              <div><a class="name" href="javascript:void(0)">Willard Wood</a></div>
              <small>@heavybutterfly920</small>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="media">
            <div class="media-left">
              <a class="avatar avatar-away" href="javascript:void(0)">
                <img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                <i></i>
              </a>
            </div>
            <div class="media-body">
              <div class="pull-right">
                <button type="button" class="btn btn-success btn-default btn-sm waves-effect waves-light"><i class="icon md-check" aria-hidden="true"></i>Following</button>
              </div>
              <div><a class="name" href="javascript:void(0)">Ronnie Ellis</a></div>
              <small>@kingronnie24</small>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="media">
            <div class="media-left">
              <a class="avatar avatar-busy" href="javascript:void(0)">
                <img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                <i></i>
              </a>
            </div>
            <div class="media-body">
              <div class="pull-right">
                <button type="button" class="btn btn-info btn-sm waves-effect waves-light">Follow</button>
              </div>
              <div><a class="name" href="javascript:void(0)">Gwendolyn Wheeler</a></div>
              <small>@perttygirl66</small>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="media">
            <div class="media-left">
              <a class="avatar avatar-off" href="javascript:void(0)">
                <img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                <i></i>
              </a>
            </div>
            <div class="media-body">
              <div class="pull-right">
                <button type="button" class="btn btn-info btn-sm waves-effect waves-light">Follow</button>
              </div>
              <div><a class="name" href="javascript:void(0)">Daniel Russell</a></div>
              <small>@danieltiger08</small>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>
