/*Empty CSS file for your own CSS */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.nav-border-top{
  height:5px;
  background: #08a88c;
}
.nav-border-bottom{
  height: 5px;
  background: #f2f448;
  top: 50px;
}
.my-nav-header{
  border-top: solid 5px #08a88c;
  border-bottom: solid 5px #f2f448;
  background-color: #f8f8f8;
  margin-bottom: 0;
  padding-bottom: 0;
}
.wrap-chat-room-public{
  margin-top: 60px;
}
.no-padding-right{
  padding-right: 0;
}
.no-padding-left{
  padding-left: 0;
}
/** Chat public */
.conversation-wrap
{
  box-shadow: -2px 0 3px #ddd;
  padding:0;
  max-height: 375px;
  overflow: auto;
}
.conversation
{
  padding:5px;
  border-bottom:1px solid #ddd;
  margin:0;

}

.message-wrap
{
  box-shadow: 0 0 3px #ddd;
  padding:0;

}
.msg
{
  padding:5px;
  /*border-bottom:1px solid #ddd;*/
  margin:0;
}
.msg-wrap
{
  padding:10px;
  max-height: 279px;
  overflow: auto;

}

.time
{
  color:#bfbfbf;
}

.send-wrap
{
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding:5px;
  background: #f8f8f8;
}

.send-message
{
  resize: none;
}

.highlight
{
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

.send-message-btn
{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;

  border-bottom-right-radius: 0;
}
.btn-panel
{
  background: #337AB7;
  height: 30px;
}

.btn-panel .btn
{
  color:#b8b8b8;

  transition: 0.2s all ease-in-out;
}

.btn-panel .btn:hover
{
  color:#666;
  background: #f8f8f8;
}
.btn-panel .btn:active
{
  background: #f8f8f8;
  box-shadow: 0 0 1px #ddd;
}

.btn-panel-conversation .btn,.btn-panel-msg .btn
{
  background: #f8f8f8;
}
.btn-panel-conversation .btn:first-child
{
  border-right: 1px solid #ddd;
}

.msg-wrap .media-heading
{
  color:#003bb3;
  font-weight: 700;
}


.msg-date
{
  background: none;
  text-align: center;
  color:#aaa;
  border:none;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
}


body::-webkit-scrollbar {
  width: 12px;
}


/* Let's get this party started */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  /*        -webkit-border-radius: 10px;
          border-radius: 10px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
  /*        -webkit-border-radius: 10px;
          border-radius: 10px;*/
  background:none;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #ddd;
}

/** Chat panel comment **/
li.ui-state-default{
  background:#fff0;
  border:none;
  border-bottom:1px solid #ddd;
  text-align: left;
  padding-bottom: 10px;
}

li.ui-state-default:last-child{
  border-bottom:none;
}

@import url("http://fonts.googleapis.com/css?family=Roboto:400");
body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}

.btn,.form-control,.well {
  border-radius:1px;
  box-shadow:0 0 0;
}

.form-control {
  border-color:#d7d7d7;
}

.btn-primary {
  border-color:transparent;
}

.btn-primary, .list-group-item.active:focus {
  background-color:#4285f4;
}

.btn-plus {
  background-color:#ffffff;
  border-width:1px;
  border-color:#dddddd;
  box-shadow:1px 1px 0 #999999;
  border-radius:3px;color:#666666;
  text-shadow:0 0 1px #bbbbbb;
}

.well,.panel {
  border-color:#d2d2d2;
  box-shadow:0 1px 0 #cfcfcf;
  border-radius:3px;
}

hr {
  border-color:#ececec;
}

button {
  outline: 0;
}

.btn span{
  color:#666666;
}

.list-group-item:first-child,.list-group-item:last-child {
  border-radius:0;
}

h3 {
  border:0 solid #efefef;
  border-bottom-width:1px;
  padding-bottom:10px;
}

/*Body share post*/
.body-share-post{
  max-height: 700px;
  overflow: auto;
}
/*http://bootdey.com/snippets/view/panel-followers*/
.panelFollow {
  margin-bottom: 0px;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow:none;
}
.panelFollowBody{
  max-height:326px;
  overflow: auto;
}
.avatar {
  position: relative;
  display: inline-block;
  width: 40px;
  white-space: nowrap;
  border-radius: 1000px;
  vertical-align: bottom
}

.avatar i {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 100%
}

.avatar img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 0 none;
  border-radius: 1000px
}

.avatar-online i {
  background-color: #4caf50
}

.avatar-off i {
  background-color: #616161
}

.avatar-busy i {
  background-color: #ff9800
}

.avatar-away i {
  background-color: #f44336
}

.avatar-100 {
  width: 100px
}

.avatar-100 i {
  height: 20px;
  width: 20px
}

.avatar-lg {
  width: 50px
}

.avatar-lg i {
  height: 12px;
  width: 12px
}

.avatar-sm {
  width: 30px
}

.avatar-sm i {
  height: 8px;
  width: 8px
}

.avatar-xs {
  width: 20px
}

.avatar-xs i {
  height: 7px;
  width: 7px
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid transparent;
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: solid 5px #08a88c;
}

/*http://bootdey.com/snippets/view/Facebook-Compose-new-post*/

.well-social-post {
  border-radius: 0;
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding:0;
}

.well-social-post .glyphicon,
.well-social-post .fa,
.well-social-post [class^='icon-'],
.well-social-post [class*='icon-'] {
  font-weight: bold;
  color: #999999;
}

.well-social-post a,
.well-social-post a:hover,
.well-social-post a:active,
.well-social-post a:focus {
  text-decoration: none;
}

.well-social-post .list-inline {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.well-social-post .list-inline li {
  position: relative;
}

.well-social-post .list-inline li.active::after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  content: "";
  top: 30px;
  left: 50%;
  left: -webkit-calc(50% - 5px);
  left: -moz-calc(50%-5px);
  left: calc(50% - 5px);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #dddddd;
}

.well-social-post .list-inline li.active a {
  color: #222222;
  font-weight: bold;
}

.well-social-post .form-control {
  width: 100%;
  min-height: 100px;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.well-social-post .list-inline {
  padding: 10px;
}

.well-social-post .list-inline li + li {
  margin-left: 10px;
}

.well-social-post .post-actions {
  margin: 0;
  background-color: #f6f7f8;
  border-top-color: #e9eaed;
}

/*http://bootdey.com/snippets/view/Social-network-post-image*/
.box-widget {
  border: none;
  position: relative;
}
.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}
.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}
.user-block img {
  width: 40px;
  height: 40px;
  float: left;
}
.user-block .username {
  font-size: 16px;
  font-weight: 600;
}
.user-block .description {
  color: #999;
  font-size: 13px;
}
.user-block .username,
.user-block .description,
.user-block .comment {
  display: block;
  margin-left: 50px;
}
.box-header>.box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}
.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}
.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}
.pad {
  padding: 10px;
  margin: auto;
}
.box .btn-default {
  background-color: #f4f4f4;
  color: #444;
  border-color: #ddd;
}
.box-comments {
  background: #f7f7f7 !important;
}
.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #fff;
}
.box-comments .box-comment:first-of-type {
  padding-top: 0;
}
.box-comments .box-comment {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}
.img-sm,
.box-comments .box-comment img,
.user-block.user-block-sm img {
  width: 30px !important;
  height: 30px !important;
}
.img-sm, .img-md,
.img-lg, .box-comments .box-comment img,
.user-block.user-block-sm img {
  float: left;
}
.box-comments .comment-text {
  margin-left: 40px;
  color: #555;
}
.box-comments .username {
  color: #444;
  display: block;
  font-weight: 600;
}
.box-comments .text-muted {
  font-weight: 400;
  font-size: 12px;
}
.img-sm+.img-push {
  margin-left: 40px;
}
.box .form-control {
  border-radius: 0;
  box-shadow: none;
  border-color: #d2d6de;
}

/*Friend list*/
.chat {
  max-height: 672px;
  overflow: auto;
}
.decor-default {
  padding: 20px;
}
.chat-users h6 {
  font-size: 20px;
  margin: 0 0 20px;
}
.chat-users .user {
  position: relative;
  padding: 0 0 0 50px;
  display: block;
  cursor: pointer;
  margin: 0 0 20px;
}
.chat-users .user .avatar {
  top: 0;
  left: 0;
}
.chat .avatar {
  width: 40px;
  height: 40px;
  position: absolute;
}
.chat .avatar img {
  display: block;
  border-radius: 20px;
  height: 100%;
}
.chat .avatar .status.off {
  border: 1px solid #5a5a5a;
  background: #ffffff;
}
.chat .avatar .status.online {
  background: #4caf50;
}
.chat .avatar .status.busy {
  background: #ffc107;
}
.chat .avatar .status.offline {
  background: #ed4e6e;
}
.chat-users .user .status {
  bottom: 0;
  left: 28px;
}
.chat .avatar .status {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
}
.chat-users .user .name {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chat-users .user .mood {
  font: 200 14px/20px "Raleway", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*End friend list*/
