<div class="col-md-3 no-padding-right">
  <h3 class="panel-title">Friend list</h3>
  <div class="decor-default chat">
    <div class="chat-users">
      <div class="user">
        <div class="avatar">
          <img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="User name">
          <div class="status off"></div>
        </div>
        <div class="name">User name</div>
        <div class="mood">User mood</div>
      </div>
      <div class="user">
        <div class="avatar">
          <img src="http://bootdey.com/img/Content/avatar/avatar2.png" alt="User name">
          <div class="status online"></div>
        </div>
        <div class="name">User name</div>
        <div class="mood">User mood</div>
      </div>
      <div class="user">
        <div class="avatar">
          <img src="http://bootdey.com/img/Content/avatar/avatar3.png" alt="User name">
          <div class="status busy"></div>
        </div>
        <div class="name">User name</div>
        <div class="mood">User mood</div>
      </div>
      <div class="user">
        <div class="avatar">
          <img src="http://bootdey.com/img/Content/avatar/avatar4.png" alt="User name">
          <div class="status offline"></div>
        </div>
        <div class="name">User name</div>
        <div class="mood">User mood</div>
      </div>
      <div class="user">
        <div class="avatar">
          <img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="User name">
          <div class="status off"></div>
        </div>
        <div class="name">User name</div>
        <div class="mood">User mood</div>
      </div>
      <div class="user">
        <div class="avatar">
          <img src="http://bootdey.com/img/Content/avatar/avatar6.png" alt="User name">
          <div class="status online"></div>
        </div>
        <div class="name">User name</div>
        <div class="mood">User mood</div>
      </div>
      <div class="user">
        <div class="avatar">
          <img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="User name">
          <div class="status busy"></div>
        </div>
        <div class="name">User name</div>
        <div class="mood">User mood</div>
      </div>
      <div class="user">
        <div class="avatar">
          <img src="http://bootdey.com/img/Content/avatar/avatar2.png" alt="User name">
          <div class="status offline"></div>
        </div>
        <div class="name">User name</div>
        <div class="mood">User mood</div>
      </div>
      <div class="user">
        <div class="avatar">
          <img src="http://bootdey.com/img/Content/avatar/avatar3.png" alt="User name">
          <div class="status off"></div>
        </div>
        <div class="name">User name</div>
        <div class="mood">User mood</div>
      </div>
      <div class="user">
        <div class="avatar">
          <img src="http://bootdey.com/img/Content/avatar/avatar4.png" alt="User name">
          <div class="status online"></div>
        </div>
        <div class="name">User name</div>
        <div class="mood">User mood</div>
      </div>
      <div class="user">
        <div class="avatar">
          <img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="User name">
          <div class="status busy"></div>
        </div>
        <div class="name">User name</div>
        <div class="mood">User mood</div>
      </div>
      <div class="user">
        <div class="avatar">
          <img src="http://bootdey.com/img/Content/avatar/avatar6.png" alt="User name">
          <div class="status offline"></div>
        </div>
        <div class="name">User name</div>
        <div class="mood">User mood</div>
      </div>
      <div class="user">
        <div class="avatar">
          <img src="http://bootdey.com/img/Content/avatar/avatar7.png" alt="User name">
          <div class="status off"></div>
        </div>
        <div class="name">User name</div>
        <div class="mood">User mood</div>
      </div>
      <div class="user">
        <div class="avatar">
          <img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="User name">
          <div class="status off"></div>
        </div>
        <div class="name">User name</div>
        <div class="mood">User mood</div>
      </div>
      <div class="user">
        <div class="avatar">
          <img src="http://bootdey.com/img/Content/avatar/avatar2.png" alt="User name">
          <div class="status online"></div>
        </div>
        <div class="name">User name</div>
        <div class="mood">User mood</div>
      </div>
      <div class="user">
        <div class="avatar">
          <img src="http://bootdey.com/img/Content/avatar/avatar3.png" alt="User name">
          <div class="status busy"></div>
        </div>
        <div class="name">User name</div>
        <div class="mood">User mood</div>
      </div>
      <div class="user">
        <div class="avatar">
          <img src="http://bootdey.com/img/Content/avatar/avatar4.png" alt="User name">
          <div class="status offline"></div>
        </div>
        <div class="name">User name</div>
        <div class="mood">User mood</div>
      </div>
      <div class="user">
        <div class="avatar">
          <img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="User name">
          <div class="status off"></div>
        </div>
        <div class="name">User name</div>
        <div class="mood">User mood</div>
      </div>
      <div class="user">
        <div class="avatar">
          <img src="http://bootdey.com/img/Content/avatar/avatar6.png" alt="User name">
          <div class="status online"></div>
        </div>
        <div class="name">User name</div>
        <div class="mood">User mood</div>
      </div>
      <div class="user">
        <div class="avatar">
          <img src="http://bootdey.com/img/Content/avatar/avatar7.png" alt="User name">
          <div class="status busy"></div>
        </div>
        <div class="name">User name</div>
        <div class="mood">User mood</div>
      </div>
      <div class="user">
        <div class="avatar">
          <img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="User name">
          <div class="status offline"></div>
        </div>
        <div class="name">User name</div>
        <div class="mood">User mood</div>
      </div>
      <div class="user">
        <div class="avatar">
          <img src="http://bootdey.com/img/Content/avatar/avatar2.png" alt="User name">
          <div class="status off"></div>
        </div>
        <div class="name">User name</div>
        <div class="mood">User mood</div>
      </div>
      <div class="user">
        <div class="avatar">
          <img src="http://bootdey.com/img/Content/avatar/avatar3.png" alt="User name">
          <div class="status online"></div>
        </div>
        <div class="name">User name</div>
        <div class="mood">User mood</div>
      </div>
      <div class="user">
        <div class="avatar">
          <img src="http://bootdey.com/img/Content/avatar/avatar4.png" alt="User name">
          <div class="status busy"></div>
        </div>
        <div class="name">User name</div>
        <div class="mood">User mood</div>
      </div>
      <div class="user">
        <div class="avatar">
          <img src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="User name">
          <div class="status offline"></div>
        </div>
        <div class="name">User name</div>
        <div class="mood">User mood</div>
      </div>
      <div class="user">
        <div class="avatar">
          <img src="http://bootdey.com/img/Content/avatar/avatar6.png" alt="User name">
          <div class="status off"></div>
        </div>
        <div class="name">User name</div>
        <div class="mood">User mood</div>
      </div>
    </div>
  </div><!-- End .col-inside-lg decor-default chat -->

</div>
