<div class="col-md-3 no-padding-right">
  <div class="well well-sm well-social-post">
    <form>
      <ul class="list-inline" id='list_PostActions'>
        <li class='active'><a href='#'>Update status</a></li>
      </ul>
      <textarea class="form-control" placeholder="What's in your mind?"></textarea>
      <ul class='list-inline post-actions'>
        <li><a href="#"><span class="glyphicon glyphicon-camera"></span></a></li>
        <li><a href="#" class='glyphicon glyphicon-user'></a></li>
        <li><a href="#" class='glyphicon glyphicon-map-marker'></a></li>
        <li class='pull-right'><a href="#" class='btn btn-primary btn-xs'>Post</a></li>
      </ul>
    </form>
  </div>
</div>
