<div class="col-md-12 no-padding-right">
  <div class="box-tools">
    <div class="pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="setting"><i class="fa fa-gears"></i> setting</button>
      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>
</div>
