<div class="row wrap-chat-room-public">
  <div class="col-md-9 col-sm-12 col-xs-12 no-padding-right">
      <% include public/BoxPublicChat %>
  </div>
  <div class="col-md-3 col-sm-12 col-xs-12 no-padding-left no-padding-right">
    <% include public/BoxUserFollower %>
  </div>
</div><!--End Chat box public -->
