<div class="container-fluid">
  <header>
    <div class="row">
      <!-- Menu -->
      <div class="col-md-12">
        <nav class="navbar my-nav-header navbar-default navbar-fixed-top" role="navigation">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Menu</span><span class="icon-bar"></span><span
                class="icon-bar"></span><span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#">Commit Realtime</a>

          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="#">Link</a>
              </li>
              <li>
                <a href="#">Link</a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#">Action</a>
                  </li>
                  <li>
                    <a href="#">Another action</a>
                  </li>
                  <li>
                    <a href="#">Something else here</a>
                  </li>
                  <li class="divider">
                  </li>
                  <li>
                    <a href="#">Separated link</a>
                  </li>
                  <li class="divider">
                  </li>
                  <li>
                    <a href="#">One more separated link</a>
                  </li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control"/>
              </div>
              <button type="submit" class="btn btn-default">
                Submit
              </button>
            </form>
            <form class="navbar-form navbar-right" role="signup-signin">
              <span data-toggle="modal" data-target="#ModalRegisterLogin" class="btn btn-default">
                <i class="glyphicon glyphicon-user"></i> Login
              </span>
            </form>
          </div>
        </nav><!--my-nav-header -->
      </div><!-- End Menu -->
    </div>
  </header>
